@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Nanum+Pen+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 테두리까지 영역 지정*/
}

a {
  text-decoration: none;
}

#container {
  margin: 0 auto; /*화면 중앙*/
  width: 1200px;
}

/*header*/
header {
  width: 100%;
  height: 100px;
  background-color: #07c;
}

/*logo*/
#logo {
  float: left;
  width: 250px;
  height: 100px;
  line-height: 100px; /*height값과 같게 만들어서 세로로 중간에 오도록 맞춤*/
  padding-left: 20px;
}

#logo h1{
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 -1px 0 #222;
}

/*nav*/
nav {
  float: right;
  width: 900px;
  height: 100px;
  background-color: green;
}

/*slideShow*/
#slideShow {
  clear: both;
  width: 100%;
  height: 300px;
  background-color: orange;
  overflow: hidden; /*영역 넘치면 감춤*/
}

/*contents*/
#contents {
  width: 100%;
  height: 300px;
}

/*tabMenu*/
#tabMenu {
  float: left;
  width: 600px;
  height: 100%;
  background-color: violet;
}

/*links*/
#links {
  float: right;
  width: 600px;
  height: 100%;
  background-color: skyblue;
}

/*footer*/
footer {
  width: 100%;
  height: 100px;
  background-color: gray;
}